@media screen and (max-width: 560px) {
/*
** CABEÇALHO
*/
    header .container {
        flex-direction: column;
    }

    header .logo {
        margin-bottom: 10px;
    }

    header nav {
        text-align: center;
    }
    
/*
** FILME PRINCIPAL
*/
    .filme-principal {
        height: 100vh;
    }

    .filme-principal .botoes {
        display: block;
    }

    .filme-principal .botao {
        margin-top: 10px;
    }
}